:root {
  --content-padding: calc(0.5rem + max(0.5vh, 0.5vw));
  --section-padding: clamp(1rem, calc(1.5rem + 1vw), 3vw);
  --section-item-gap: calc(1rem + max(0.5vh, 0.5vw));

  --main-font-size: calc(0.75rem + max(1vw, 1vh));
}

@font-face {
  font-family: "mysweetfont";
  src: url("../public/font/04B_03__.TTF");
}

*,
*::after,
*::before {
  border: 0;
  padding: 0;
  margin: 0;

  font-family:
    mysweetfont,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: var(--main-font-size);
}

body {
  display: grid;

  min-height: 100dvh;
}

.visually-hidden {
  display: none !important;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-item-gap) / 2);

  margin: var(--section-padding);
}

.menu-header > ul {
  display: flex;
  justify-content: space-evenly;
  gap: calc(var(--section-item-gap) / 2);
}

.menu-tab {
  display: flex;
  place-content: center;
  flex: 1;

  list-style: none;

  background: lightgray;
  border: 0.05rem solid;
}

.menu-tab > a {
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.menu-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  border: 0.05rem solid;
}

.menu-content section {
  flex: 1;
  padding: var(--section-padding);

  background: lightgray;
}

.content-wrapper {
  display: flex;
  flex: 1;
}

#right-menu-section {
  border-left: 0.05rem solid;
}

#quests #right-menu-section {
  display: flex;
  flex-direction: column;
  gap: var(--section-item-gap);
  flex-grow: 2;
}

#character {
  flex-direction: row-reverse;
}

.inventory {
  --cellSize: repeat(auto-fill, minmax(calc(var(--main-font-size) * 2.5), 1fr));

  display: grid;
  grid-template-columns: var(--cellSize);
  grid-template-rows: var(--cellSize);
  grid-auto-flow: dense;
  gap: 0.1rem;

  text-align: center;
}

.cell {
  display: flex;

  background: darkseagreen;
  height: 100%;
  width: 100%;
}

.cell-over {
  background: darkslategrey !important;
}

#character #right-menu-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--section-item-gap);
}

img.character {
  flex: 1;
}

.satiety-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--section-item-gap);
}

#swap-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;
}

.select-cell {
  outline: 0.15rem solid darkslateblue;
  outline-offset: -0.15rem;
}

@media screen and (max-width: 639px) {
  .content-wrapper {
    flex-direction: column;
  }

  #character {
    flex-direction: column-reverse;
  }

  #right-menu-section {
    border-left: 0;
    border-top: 0.05rem solid;
  }
}
