:root {
  --content-padding: calc(0.5rem + max(0.5vh, 0.5vw));
  --section-padding: clamp(1rem, calc(1.5rem + 1vw), 3vw);
  --section-item-gap: calc(1rem + max(0.5vh, 0.5vw));

  --main-font-size: calc(0.75rem + max(1vw, 1vh));

  --inventory-gap: 0.3rem;

  --cold-warm: radial-gradient(
      60% 65.43% at 50% 50%,
      #e96363 5%,
      rgba(2, 2, 2, 0) 100%
    ),
    #4376f8;

  --warm-cold: radial-gradient(
      60% 65.43% at 50% 50%,
      #4376f8 5%,
      rgba(2, 2, 2, 0) 125%
    ),
    #e96363;

  --cold: #749bff;
  --warm: #ff7474;

  --main-bg-color: #4a4a4a;
  --main-text-color: cornsilk;
  --accent-text-color: #6fff6c;

  --cell-color: darkseagreen;
  --cell-over-color: darkslategrey;
  --cell-select-color: var(--main-text-color);

  --border-radius-size: 0.3rem;
  --border-size: 0.15rem;
  --outer-shadow-rb: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "mysweetfont";
  src: url("../public/font/04B_03__.TTF");
}

*,
*::after,
*::before {
  border: 0;
  padding: 0;
  margin: 0;

  font-family:
    mysweetfont,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  font-size: var(--main-font-size);
  letter-spacing: 0.05rem;
  line-height: 1.25;
}

body {
  display: grid;
  min-height: 100dvh;

  background: var(--cold-warm);
  transition: background-color 0.05s ease-in-out;
}

.visually-hidden {
  display: none !important;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-item-gap) / 2);

  margin: var(--section-padding);
}

.menu-header > ul {
  display: flex;
  justify-content: space-evenly;
  gap: calc(var(--section-item-gap) / 2);
}

.menu-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  list-style: none;

  background: var(--main-bg-color);
  box-shadow: var(--outer-shadow-rb);

  border: var(--border-size) solid transparent;
  border-radius: var(--border-size);
}

.menu-tab:focus-within {
  box-shadow:
    0 0 0 0.1rem var(--main-text-color),
    var(--outer-shadow-rb);
}

.menu-header[data-temp="cold"] .menu-tab {
  border-color: var(--cold);
}

.menu-header[data-temp="cold"] .menu-tab > a:focus {
  outline-color: var(--cold);
  outline-style: solid;
  border-radius: 0.05rem;
}

.menu-header[data-temp="warm"] .menu-tab {
  border-color: var(--warm);
}

.menu-header[data-temp="warm"] .menu-tab > a:focus {
  outline-color: var(--warm);
  outline-style: solid;
  border-radius: 0.05rem;
}

.menu-tab > a {
  width: 100%;
  padding: 0.15rem;

  text-decoration: none;
  text-align: center;
  color: var(--accent-text-color);
}

.menu-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  box-shadow: var(--outer-shadow-rb);

  border-radius: var(--border-radius-size);
}

.menu-content section {
  flex: 1;
  padding: var(--section-padding);

  background: var(--main-bg-color);
  color: var(--main-text-color);
}

.content-wrapper {
  border-radius: var(--border-radius-size);

  display: flex;
  flex: 1;
}

#pet {
  background-color: var(--cold);
  border-radius: var(--border-radius-size);

  flex-direction: row-reverse;
}

#pet section {
  border-radius: var(--border-radius-size);
  border: var(--border-size) solid var(--cold);
}

#kitchen {
  background-color: var(--warm);
  border-radius: var(--border-radius-size);
}

#kitchen section {
  border-radius: var(--border-radius-size);
  border: var(--border-size) solid var(--warm);
}

#quests {
  background-color: var(--cold);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--section-item-gap) / 2);
}

#quests #left-menu-section {
  grid-area: 1;

  border-radius: var(--border-radius-size);
  border: var(--border-size) solid var(--cold);
  border-right: 0;
}

#quests #right-menu-section {
  grid-area: 1 / span 2;

  display: flex;
  flex-direction: column;
  gap: var(--section-item-gap);

  border-radius: var(--border-radius-size);
  border: var(--border-size) solid var(--cold);
  border-left: 0;
}

.inventory {
  --cellSize: repeat(auto-fill, minmax(calc(var(--main-font-size) * 2.5), 1fr));

  display: grid;
  grid-template-columns: var(--cellSize);
  grid-template-rows: var(--cellSize);
  grid-auto-flow: dense;
  gap: var(--inventory-gap);

  text-align: center;
}

.cell {
  display: flex;

  background: var(--cell-color);
  height: 100%;
  width: 100%;
}

.meal {
  cursor: grab;
}

.cell-over {
  background: var(--cell-over-color) !important;
}

#pet #right-menu-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--section-item-gap);
}

img.character {
  flex: 1;
}

.satiety-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: calc(var(--section-item-gap) / 2);
}

#swap-btn:disabled {
  background:
    url("../public/btn/arrow-right-disabled.svg") 100% center / 100% no-repeat,
    var(--main-bg-color);

  cursor: not-allowed;
}

#swap-btn {
  display: flex;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;
  border-radius: 50%;
  background:
    url("../public/btn/arrow-right.svg") 100% center / 100% no-repeat,
    var(--main-bg-color);

  --btn-size: calc(var(--section-padding) * 1.75);
  min-height: var(--btn-size);
  min-width: var(--btn-size);

  border: var(--border-size) solid var(--warm);
}

.select-cell {
  outline: var(--inventory-gap) solid var(--cell-select-color);
  outline-offset: calc(-1 * var(--inventory-gap));
}

progress::-moz-progress-bar {
  background: #f99e12;
}

progress::-webkit-progress-value {
  background: #f99e12;
}

progress {
  color: #f99e12;
}

#left-menu-section li {
  list-style: none;
  text-align: center;
}

#right-menu-section li::before {
  content: "\25CF";
  min-width: var(--main-font-size);
}

#right-menu-section li[data-task="completed"]::before {
  color: var(--accent-text-color);
}

#right-menu-section li[data-task="not-completed"]::before {
  color: crimson;
}

details,
ol {
  display: grid;
}

#right-menu-section li,
summary {
  list-style: none;
  display: inline-flex;
  align-items: flex-end;
  gap: calc(var(--section-item-gap) / 2);
  text-align: center;
}

details[open] summary::before {
  content: "\25BC";
  min-width: var(--main-font-size);
}

details summary::before {
  content: "\25B6";
  min-width: var(--main-font-size);
}

span.details-text-wrapper {
  padding-left: 0.25rem;
  padding-top: calc(var(--section-item-gap) / 3);
}

ol.details-text-wrapper {
  gap: 0.25rem;
  padding-top: calc(var(--section-item-gap) / 3.5);
}

@media screen and (max-width: 639px) {
  #quests {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;

    gap: 0;
  }

  #quests #left-menu-section {
    border: var(--border-size) solid var(--cold);
  }

  #quests #right-menu-section {
    grid-area: 2;

    border: var(--border-size) solid var(--cold);
  }

  .content-wrapper {
    flex-direction: column;
  }

  #pet {
    flex-direction: column-reverse;
  }

  #swap-btn {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  img.character {
    align-self: center;

    max-width: fit-content;
    max-height: fit-content;
  }
}
